#nodetype{
    display: flex;
    margin: 16px;
}
#select{
    display: flex;
    margin: 16px;
}
#Nodename{
    display: flex;
    margin: 16px;
}
#ti{
    display: flex;
    margin: 16px;
}
.bold{
    font-size: 20px;

}
#noden{
    background-color : blueviolet;
}
#updaten{
    background-color : cyan;
}
#deleten{
    background-color : cyan;
}